# file to illustrate the structure of dwh.cfg

[CLUSTER]
HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
DWH_IAM_ROLE_NAME=
DWH_CLUSTER_TYPE=
DWH_NUM_NODES=
DWH_NODE_TYPE=
DWH_CLUSTER_IDENTIFIER=

[IAM_ROLE]
ARN=
     

[S3]
LOG_DATA=s3://udacity-dend/log_data
LOG_JSONPATH=s3://udacity-dend/log_json_path.json
SONG_DATA=s3://udacity-dend/song_data

[AWS]
KEY=
SECRET=

